//$primary: #2525db;
$primary: #0f2b8e;
$body-bg: #242526;
$body-color: #e4e6eb;

$border-radius-lg: 1rem;

$border-widths: (
  5: 10px
);

.login {
    background-image: url('LoginBackground.png');
}

.register {
    background-image: url('RegisterBackground.png');
}

.bg-robot {
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
};

.parent {
    min-height: 80vH;
}

#reader button {
    @extend .btn, .btn-primary;
}

#reader a {
    @extend .link-light;
}

.inlineform {
    margin: 0;
    padding: 0;
    display: inline;
}

@import "scss/bootstrap.scss";