{% extends "base.html.jinja2" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="container">
  <h1>Change Password for {{current_user.name}}</h1>
  {{-render_messages()-}}
  {{ render_form(form) }}
</div>
{% endblock %}