autopep8~=2.0.0
black~=23.1
Bootstrap-Flask~=2.3.3
cssmin~=0.2.0
email-validator~=2.1.0
flake8~=6.0
Flask~=3.0.0
Flask-Admin~=1.6.1
Flask-APScheduler~=1.13.0
Flask-Assets~=2.0
Flask-Excel~=0.0.7
Flask-Login~=0.6.2
Flask-Migrate~=4.0.0
Flask-SQLAlchemy~=3.1.1
Flask-WTF~=1.2.0
get-docker-secret~=2.0.0
gunicorn~=21.2.0
libsass~=0.21
MarkupSafe~=2.1.1
pysass~=0.1.0
python-dateutil~=2.8.2
pytz~=2023.3
PyYAML~=6.0
regex~=2023.10.3
psycopg2-binary~=2.9.7
requests~=2.31.0
six~=1.16.0
SQLAlchemy~=2.0.0
toml~=0.10.2
tomli~=2.0.1
tzdata~=2023.3
tzlocal~=5.2.0
webassets~=2.0
WTForms~=3.1.1