autopep8==1.6.0
Bootstrap-Flask==2.0.2
chardet==4.0.0
click==8.0.4
colorama==0.4.4
cssmin==0.2.0
Flask==2.0.3
Flask-Assets==2.0
Flask-Excel==0.0.7
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
get-docker-secret==1.0.2
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
libsass==0.21.0
lml==0.1.0
MarkupSafe==2.1.0
pycodestyle==2.8.0
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
pysass==0.1.0
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==1.4.31
texttable==1.6.4
toml==0.10.2
watchdog==2.1.6
webassets==2.0
Werkzeug==2.0.3
WTForms==3.0.1
