autopep8~=2.2.0
black~=24.4
Bootstrap-Flask~=2.4.0
cssmin~=0.2.0
email-validator~=2.1.0
flake8~=7.0
Flask~=3.0.0
Flask-Admin~=1.6.1
Flask-APScheduler~=1.13.0
Flask-Assets~=2.0
Flask-Excel~=0.0.7
Flask-Login~=0.6.2
Flask-Migrate~=4.0.0
Flask-SQLAlchemy~=3.1.1
Flask-WTF~=1.2.0
get-docker-secret~=2.0.0
gunicorn~=22.0.0
libsass~=0.21
MarkupSafe~=2.1.1
pysass~=0.1.0
python-dateutil~=2.9.0
pytz~=2024.1
PyYAML~=6.0
regex~=2024.5.15
psycopg2-binary~=2.9.7
requests~=2.32.3
six~=1.16.0
SQLAlchemy~=2.0.0
toml~=0.10.2
tomli~=2.0.1
tzdata~=2024.1
tzlocal~=5.2.0
webassets~=2.0
WTForms~=3.1.1