{% extends "base.html.jinja2" %}

{% block title %}Active User Admin - Chop Shop Sign In{%endblock%}

{% block content %}
<div class="container">
  <h1>Active Users</h1>
  <table id="actives" class="table table-sm table-striped table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">ID</th>
        <th scope="col">Event</th>
        <th scope="col">Start</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody>
      {%- for ac in active -%}
      <tr>
        <th>{{ac.person.name}}</th>
        <td>{{ac.id}}</td>
        <td>{{ac.event.name}}</td>
        <td>{{ac.start_local}}</td>
        <td>
          <form id="signout{{ac.id}}" method="POST">
            <input type="hidden" value="{{ac.id}}" name="active_id">
            <button type="submit">Sign Out</button>
          </form>
          <form action="{{url_for('admin.active_delete')}}" id="drop{{ac.id}}" method="POST">
            <input type="hidden" value="{{ac.id}}" name="active_id">
            <button type="submit">Drop</button>
          </form>
        </td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>
{% endblock %}