{% extends "base.html.jinja2" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Chop Shop Sign In Event Admin{% endblock %}

{% block content %}
<div class="container">
  {{render_form(form)}}
</div>
{% endblock %}