{% extends "base.html.jinja2" %}
{% from 'bootstrap5/form.html' import render_form, render_messages %}

{% block title %}{{title}}{%endblock%}

{% block content %}
<div class="container">
  {{ render_messages() }}
  {{ render_form(form) }}
</div>
{% endblock %}