{% extends "base.html.jinja2" %}

{% block title %}Chop Shop Sign In Admin{%endblock%}

{% block content %}
<div class="container">
  <ul>
    <li>
      <a href="{{url_for('admin.admin_users')}}">Users</a>
    </li>
    <li>
      <a href="{{url_for('admin.admin_events')}}">Events</a>
    </li>
  </ul>
</div>
{% endblock %}