{% extends "search/base.html.jinja2" %}
{% block searchtable %}
  <thead>
    <th scope="col">User</th>
  </thead>
  {%- for result in results|d([], true) -%}
    <tr>
      <td>{{ result.name }}</td>
    </tr>
  {%- endfor -%}
{% endblock searchtable %}
