{% extends "search/base.html.jinja2" %}
{% block searchtable %}
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Total Time</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
  </thead>
  <tbody>
    {%- for event in results|d([], true) -%}
      <tr>
        <th>
          <div class="d-flex justify-content-between align-items-center">
            {{ event.name }}
            <a class="btn btn-sm btn-secondary ms-2"
               href="{{ url_for('events.stats', event_id=event.id)}}">Go to event</a>
          </div>
        </th>
        <td>{{ event.total_time }}</td>
        <td>{{ event.start_local }}</td>
        <td>{{ event.end_local }}</td>
      </tr>
    {%- endfor -%}
  </tbody>
{% endblock searchtable %}
