{% extends "search/base.html.jinja2" %}
{% block searchtable %}
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Hours</th>
  </thead>
  {%- for result in results|d([], true) -%}
    <tr>
      <th>{{ result[0] }}</th>
      <td>{{ result[1] }}</td>
    </tr>
  {%- endfor -%}
{% endblock searchtable %}
