{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_static %}

{% block title %}Chop Shop Sign In User Admin{%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <table id="users" class="table table-sm table-striped table-hover table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody id="userbody">
          {%- for user in users -%}
          <tr>
            <th>{{user.name}}</th>
            <td>
              <form action="{{ url_for('admin.update_role') }}" method="POST">
                <input type="hidden" value="{{user.id}}" name="user_id">
                <select id="role" name="role">
                  {%- for role in roles -%}
                  <option value="{{role.id}}" {% if role.id|int==user.role_id|int %} selected="selected" {% endif %}>{{
                    role.name }}</option>
                  {%- endfor -%}
                </select>
                <button type=submit>Update</button>
              </form>
            </td>
            <td>{{ user.total_time }}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}