{% extends "base.html.jinja2" %}
{% from 'bootstrap5/utils.html' import render_static %}

{% block title %}Badge {{badge.name}} - Chop Shop Sign In{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{badge.name}}</h1>
      {{badge.description}}
    </div>
    <div class="col">
      <table id="users" class="table table-sm table-striped table-hover table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Subteam</th>
            <th scope="col">Date Received</th>
          </tr>
        </thead>
        <tbody id="userbody">
        {%- for award in awards -%}
          <tr>
            <td><a href="{{url_for('user.profile', user_id=award.user_id)}}">{{award.owner.name}}</a></td>
            <td>{{award.owner.subteam.name}}</td>
            <td>{{award.received}}</td>
          </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}