{% extends "base.html.jinja2" %}
{% block title %}Badge Admin - Chop Shop Sign In{%endblock%}
{% block content %}
<div class="pt-3 container">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <h1>Available Badges!</h1>
    <div>
      {%- if current_user.is_authenticated and current_user.role.admin -%}
      <a href="{{url_for('admin.new_badge')}}">
        <button class="btn btn-primary">New Badge</button>
      </a>
      {%- endif -%}
      <a href="{{ url_for('search.badges')}}">
        <button class="btn btn-primary">Search Badges</button>
      </a>
    </div>
  </div>
  {{- render_messages() -}}
  <div class="table-responsive">
  <table id="badges" class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Badge</th>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      {%- for badge in badges -%}
      <tr>
        <th><a class="link-light" href="{{url_for('user.badge', badge_id=badge.id)}}">{{show_badge(badge)}}</a></th>
        <td>{{badge.id}}</td>
        <td>{{badge.description}}</td>
        <td>
          <a class="btn btn-secondary" href="{{url_for('admin.edit_badge', badge_id=badge.id)}}" role="button">Edit</a>
          <a class="btn btn-secondary" href="{{url_for('mentor.award_badge', badge_id=badge.id)}}" role="button">Award</a>
        </td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}