{% from 'bootstrap5/nav.html' import render_nav_item -%}
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% block title %}Chop Shop Sign In{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('qr.index')}}">Chop Shop Sign In</a>
        </div>
        <ul class="navbar-nav">
            {%- if current_user.is_authenticated -%}
            <li>Welcome, {{current_user.name}}</li>
            {%- if current_user.admin -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
                    <li><a class="dropdown-item" href="{{url_for('admin.admin_users')}}">Admin Users</a></li>
                    <li><a class="dropdown-item" href="{{url_for('admin.admin_events')}}">Admin Event</a></li>
                </ul>
            </li>
            {%- endif -%}
            {{- render_nav_item("qr.export", "Export", use_li=True) -}}
            {{- render_nav_item("auth.logout", "Sign Out", use_li=True) -}}
            {%- else -%}
            {{- render_nav_item("auth.register", "Register", use_li=True) -}}
            {{- render_nav_item("auth.login", "Sign In", use_li=True) -}}
            {%- endif -%}
        </ul>
        <div class="d-flex">
            <img src="{{ url_for('static', filename='logo.png')}}" height="48">
        </div>
    </nav>
    <!-- Page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>