{% extends "base.html.jinja2" %}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated and current_user.can_display %}
  <h1>Available Events</h1>
  <ul>
    {% if events %}
    {% for event in events %}
    <li><a href="{{url_for('qr.event', event_code=event.code)}}">{{event.name}}</a></li>
    {% endfor %}
    {% else %}
    <li>None</li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{%- if current_user.is_authenticated and current_user.role.autoload -%}
<script type="text/javascript">
function checkNewEvent() {
  fetch("/autoevent")
      .then(data => data.json())
      .then(json => {
        alert(json)
        if (json["event"] !== "") {
          window.location = "{{url_for('qr.event')}}?event_code="+json["event"]
        }
      })
}
setInterval(checkNewEvent, 300000)
</script>
{%- endif -%}
{% endblock %}