{% extends "base.html.jinja2" %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block content %}
<div class="container">
  {{ render_messages() }}
  {% if current_user.is_authenticated and current_user.role.can_display %}
  <h1 class="pt-3 pb-1">Available Events</h1>
  <div class="list-group list-group-flush">
    {% if events %}
    {% for event in events %}
    <a class="list-group-item list-group-item-primary list-group-item-action rounded-3"
       href="{{url_for('event.event', event_code=event.code)}}">
      {{event.name}}
    </a>
    {% endfor %}
    {% else %}
    <li>None</li>
    {% endif %}
  </div>
  {% endif %}
</div>
{%- if current_user.is_authenticated and current_user.role.autoload -%}
<script type="text/javascript">
function checkNewEvent() {
  fetch("/autoevent")
      .then(data => data.json())
      .then(json => {
        alert(json)
        if (json["event"] !== "") {
          window.location = "{{url_for('event.event')}}?event_code="+json["event"]
        }
      })
}
setInterval(checkNewEvent, 300000)
</script>
{%- endif -%}
{% endblock %}