{% extends "base.html.jinja2" %}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated and current_user.can_display %}
  <h1>Available Events</h1>
  <ul>
    {% if events %}
    {% for event in events %}
    <li><a href="{{url_for('qr.event', event_code=event.code)}}">{{event.name}}</li>
    {% endfor %}
    {% else %}
    <li>None</li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock %}