{% extends "base.html.jinja2" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Sign In - Chop Shop Sign In{% endblock %}

{% block content %}
<div class="container">
  <h1>Log In</h1>
  {{-render_messages()-}}
  {{ render_form(form) }}
</div>
{% endblock %}