{% extends "base.html.jinja2" %}
{% from 'bootstrap5/utils.html' import render_static %}

{% block title %}Profile for {{current_user.name}}{% endblock %}

{% block scripts %}
{{ super() }}
{{ render_static("js", "https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js", False) }}
<script type="text/javascript">
new QRCode(document.getElementById("qrPlaceholder"), "{{user.code}}");
</script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{user.name}}</h1>
  <div class="row">
    <div class="col">
      <div>Role: {{user.role.name}}</div>
      <div>
        <ul>
          {%- for type_ in event_types -%}
            <li>{{type_.name}}: {{user.total_stamps_for(type_)}}
          {%- endfor -%}
        </ul>
        <a href="{{url_for('qr.export')}}">Export</a>
      </div>
    </div>
    <div class="col">
      <div id="qrPlaceholder"></div>
    </div>
  </div>
</div>
{% endblock %}