{% extends "base.html.jinja2" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Register - Chop Shop Sign In{% endblock %}

{% block content %}
<body class="bg-robot"></body>
<div class="container p-5 w-400 bg-dark rounded container">
  <h1>Register</h1>
  {{-render_messages()-}}
  {{ render_form(form) }}
</div>
{% endblock %}