{% extends "base.html.jinja2" %}
{% from 'bootstrap5/utils.html' import render_static, render_icon %}
{% block title %}
  Shirt Sizes
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>Shirt Sizes</h1>
    <div class="row">
      <div class="col">
        <table>
          <thead>
            <th scope="col">Size</th>
            <th scope="col">Quantity Per Role</th>
          </thead>
          <tbody>
            {%- for size, role_table in shirts.items() -%}
              <tr>
                <td>{{ size.name }}</td>
                <td>
                  {%- for role, quantity in role_table.items() -%}
                    <li>{{ role.name }}: {{ quantity }}</li>
                  {%- endfor -%}
                </td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock title %}
