{% extends "base.html.jinja2" %}
{% block title %}
  User Admin
{% endblock title %}
{% block content %}
  <div id="userListContainer" class="container pt-3">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h1>Users List</h1>
    </div>
    {{- render_messages() -}}
    <div class="table-responsive">
      <table id="users">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Pronouns</th>
            <th scope="col">Subteam</th>
            <th scope="col">Total Time</th>
            <th scope="col">Phone Number</th>
            <th scope="col">email</th>
            <th scope="col">Address</th>
            <th scope="col">T-Shirt Size</th>
            {%- if current_user.is_authenticated and current_user.has_role("admin") -%}
              <th scope="col">Edit</th>
            {%- endif -%}
          </tr>
        </thead>
        <tbody>
          {%- for user in users -%}
            <tr>
              <th scope="row">
                <div class="d-flex justify-content-between align-items-center">
                  <p class="m-0">{{ user.full_name }}</p>
                  <a class="btn btn-sm btn-secondary"
                     role="button"
                     href="{{ url_for('user.profile', email=user.email)}}">
                    Profile
                  </a>
                </div>
              </th>
              <td>{{ user.pronouns.value }}</td>
              <td>{{ user.subteam.name }}</td>
              <td>{{ user.total_time }}</td>
              <td>{{ user.formatted_phone_number }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.tshirt_size.value }}</td>
              {%- if current_user.is_authenticated and current_user.has_role("admin") -%}
                <td>
                  <div class="btn-group" role="group" aria-label="User Actions">
                    <a class="btn btn-sm btn-secondary"
                       href="{{ url_for('admin.edit_user', user_id=user.id)}}"
                       role="button">Edit</a>
                    {%- if user.student_user_data -%}
                      <a class="btn btn-sm btn-info"
                         href="{{ url_for('admin.edit_student_data', user_id=user.id)}}"
                         action="submit">Edit Student</a>
                    {%- elif user.has_role("guardian") -%}
                      <a class="btn btn-sm btn-info"
                         href="{{ url_for('admin.edit_guardian_data', user_id=user.id)}}"
                         action="submit">Edit Guardian</a>
                    {%- endif -%}
                    <a class="btn btn-sm btn-danger"
                       href="{{ url_for('admin.delete_user', user_id=user.id)}}"
                       role="button">Delete</a>
                  </div>
                  {%- if not user.approved -%}
                    <form class="inlineform"
                          action="{{ url_for('admin.user_approve', user_id=user.id)}}"
                          id="approve{{ user.id }}"
                          method="post">
                      <button class="btn btn-sm btn-warning" action="submit">Approve</button>
                    </form>
                  {%- endif -%}
                </td>
              {%- endif -%}
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
