{% extends "base.html.jinja2" %}
{% from 'bootstrap5/form.html' import render_messages %}
{% block title %}{{role}} users{% endblock %}
{% block content %}
  <div id="userListContainer" class="container pt-3">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h1>{{role}} List</h1>
      {% if role == "Student" %}
      <a href="{{ url_for('auth.register')}}">
        <button class="btn btn-primary">New Student</button>
      </a>
      {% elif role == "Mentor" %}
      <a href="{{ url_for('auth.register_mentor')}}">
        <button class="btn btn-primary">New Mentor</button>
      </a>
      {% endif %}
    </div>
    {{- render_messages() -}}
    <div class="table-responsive">
      <table id="users" class="table table-striped table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Subteam</th>
            <th scope="col">Total Time</th>
            <th scope="col">Phone Number</th>
            <th scope="col">email</th>
            <th scope="col">Address</th>
            <th scope="col">T-Shirt Size</th>
            {% if role == "Student" %}
            <th scope="col">Grade</th>
            <th scope="col">Parents/Guardians</th>
            {% elif role == "Guardian" %}
            <th scope="col">Students</th>
            {% endif %}
            {%- if current_user.is_authenticated and current_user.role.admin -%}
            <th scope="col">Edit</th>
            {%- endif -%}
          </tr>
        </thead>
        <tbody>
          {%- for user in users -%}
            <tr>
              <th>
                <a class="link-light"
                  href="{{ url_for('user.profile', user_id=user.id)}}">{{ user.display_name }}</a>
              </th>
              <td>{{ user.subteam.name }}</td>
              <td>{{ user.total_time }}</td>
              <td>{{ user.formatted_phone_number }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.tshirt_size.value }}</td>
              {% if role == "Student" %}
              <td>{{ user.student_user_data.display_grade }}</td>
              <td>
                <ul>
                {% for guardian in user.student_user_data.guardians %}
                  <li><a class="link-light" href="{{url_for('user.profile', user_id=guardian.user.id)}}">{{guardian.user.name}}</a></li>
                {% endfor %}
                </ul>
              </td>
              {% elif role == "Guardian" %}
              <td>
                <ul>
                {% for student in user.guardian_user_data.students %}
                  <li><a class="link-light" href="{{url_for('user.profile', user_id=student.user.id)}}">{{student.user.name}}</a></li>
                {% endfor %}
                </ul>
              </td>
              {% endif %}
              {%- if current_user.is_authenticated and current_user.role.admin -%}
              <td>
                <div class="btn-group" role="group" aria-label="User Actions">
                  <a class="btn btn-secondary"
                    href="{{ url_for('admin.edit_user', user_id=user.id)}}"
                    role="button">Edit</a>
                  <a class="btn btn-danger"
                    href="{{ url_for('admin.delete_user', user_id=user.id)}}"
                    role="button">Delete</a>
                </div>
                {%- if not user.approved -%}
                <form class="inlineform"
                      action="{{ url_for('admin.user_approve', user_id=user.id)}}"
                      id="approve{{ user.id }}"
                      method="POST">
                  <button class="btn btn-warning"
                    action="submit">Approve</button>
                </form>
                {%- endif -%}
                {%- if role == "Guardian" and user.role.name == "guardian_limited" -%}
                <form class="inlineform"
                      action="{{ url_for('admin.user_promote', user_id=user.id)}}"
                      id="promote{{ user.id }}"
                      method="POST">
                  <button class="btn btn-warning"
                    action="submit">Make User</button>
                </form>
                {%- endif -%}
              </td>
              {%- endif -%}
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
