{% extends "base.html.jinja2" %}
{% from 'bootstrap5/form.html' import render_messages %}
{% block title %}
  {{ role }} users
{% endblock title %}
{% block content %}
  <div id="userListContainer" class="container pt-3">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h1>{{ role }} List</h1>
      {% if role == "Student" %}
        <a class="btn btn-primary"
           href="{{ url_for('auth.register')}}"
           role="button">New Student</a>
      {% elif role == "Mentor" %}
        <a class="btn btn-primary"
           href="{{ url_for('auth.register_mentor')}}"
           role="button">New Mentor</a>
      {% endif %}
    </div>
    {{- render_messages() -}}
    <div class="table-responsive">
      <table id="users">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Subteam</th>
            <th scope="col">Total Time</th>
            <th scope="col">Phone Number</th>
            <th scope="col">email</th>
            <th scope="col">Address</th>
            <th scope="col">T-Shirt Size</th>
            {% if role == "Student" %}
              <th scope="col">Grade</th>
              <th scope="col">Parents/Guardians</th>
            {% elif role == "Guardian" %}
              <th scope="col">Students</th>
            {% endif %}
            {%- if current_user.is_authenticated and current_user.has_role("admin") -%}
              <th scope="col">Edit</th>
            {%- endif -%}
          </tr>
        </thead>
        <tbody>
          {%- for user in users -%}
            <tr>
              <th>
                <div class="d-flex justify-content-between align-items-center">
                  {{ user.full_name }}
                  <a class="btn btn-sm btn-secondary"
                     href="{{ url_for('user.profile', username=user.username)}}">Profile</a>
                </div>
              </th>
              <td>{{ user.subteam.name }}</td>
              <td>{{ user.total_time }}</td>
              <td>{{ user.formatted_phone_number }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.tshirt_size.value }}</td>
              {% if role == "Student" %}
                <td>{{ user.student_user_data.display_grade }}</td>
                <td>
                  <ul>
                    {% for guardian in user.student_user_data.guardians %}
                      <li>
                        <a class="link-light"
                           href="{{ url_for('user.profile', username=guardian.user.username)}}">{{ guardian.user.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </td>
              {% elif role == "Guardian" %}
                <td>
                  <ul>
                    {% for student in user.guardian_user_data.students %}
                      <li>
                        <a class="link-light"
                           href="{{ url_for('user.profile', username=student.user.username)}}">{{ student.user.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </td>
              {% endif %}
              {%- if current_user.is_authenticated and current_user.has_role("admin") -%}
                <td>
                  <div class="btn-group" role="group" aria-label="User Actions">
                    <a class="btn btn-sm btn-secondary"
                       href="{{ url_for('admin.edit_user', user_id=user.id) }}"
                       role="button">Edit</a>
                  {%- if user.has_role("student") -%}
                      <a class="btn btn-sm btn-info"
                         href="{{ url_for('admin.edit_student_data', user_id=user.id) }}"
                         role="button"
                         action="submit">Edit Student</a>
                  {%- elif user.has_role("guardian") -%}
                      <a class="btn btn-sm btn-info"
                         href="{{ url_for('admin.edit_guardian_data', user_id=user.id) }}"
                         role="button"
                         action="submit">Edit Guardian</a>
                  {%- if user.has_role("guardian_limited") -%}
                        <a class="btn btn-sm btn-warning"
                           href="{{ url_for('admin.user_promote', user_id=user.id) }}"
                           action="submit">Create User</a>
                      {%- endif -%}
                    {%- endif -%}
                    <a class="btn btn-sm btn-danger"
                       href="{{ url_for('admin.delete_user', user_id=user.id) }}"
                       role="button">Delete</a>
                  </div>
                  {%- if not user.approved -%}
                    <form class="inlineform"
                          action="{{ url_for('admin.user_approve', user_id=user.id) }}"
                          id="approve{{ user.id }}"
                          method="post">
                      <button class="btn btn-sm btn-warning" action="submit">
                        Approve
                      </button>
                    </form>
                  {%- endif -%}
                </td>
              {%- endif -%}
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
